<!DOCTYPE html>
<html>
  <head>
    <title>Muncher</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <%= yield %>
    <br>
    <footer><a href="https://developer.edamam.com/" alt="Link to Edamam's developer site" >Powered by Edamam</a></footer>

  </body>
</html>
